.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.install {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.sectionTitle {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(144, 149, 163);
  line-height: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.balance {
  color: rgb(17, 18, 20);
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
}
.subBalance {
  margin-top: 4px;
  color: rgb(101, 109, 133);
  font-size: 16px;
  line-height: 24px;
}

.actions {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
